<<<<<<< HEAD
<<<<<<< HEAD
<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
=======

<h1>Listing articles</h1>
 
>>>>>>> e619c78bd00b47797aa4915498d60fde37bc126a
=======

<h1>Listing articles</h1>
 
>>>>>>> e619c78bd00b47797aa4915498d60fde37bc126a
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
<<<<<<< HEAD
<<<<<<< HEAD
    <th colspan="3"></th>
=======
>>>>>>> e619c78bd00b47797aa4915498d60fde37bc126a
=======
>>>>>>> e619c78bd00b47797aa4915498d60fde37bc126a
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
<<<<<<< HEAD
<<<<<<< HEAD
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
=======
    </tr>
  <% end %>
</table>
>>>>>>> e619c78bd00b47797aa4915498d60fde37bc126a
=======
    </tr>
  <% end %>
</table>
>>>>>>> e619c78bd00b47797aa4915498d60fde37bc126a
